In [89]:
import akshare as ak
import pandas as pd
import datetime
import warnings
warnings.filterwarnings('ignore')

In [90]:
n_days_before = 200
today = datetime.date.today()
d = datetime.date.today() - datetime.timedelta(days=n_days_before)
one = datetime.timedelta(days=1)

In [91]:
sse_df = ak.stock_margin_sse(start_date=d.strftime("%Y%m%d"), end_date=today.strftime("%Y%m%d"))
print(sse_df.head())

     信用交易日期          融资余额        融资买入额        融券余量       融券余量金额      融券卖出量  \
0  20220627  804152526967  51884714653  7395969503  59791030542  499412140
1  20220624  799101774063  46175566005  7331298421  59505969329  486506974
2  20220623  799470136679  43485869406  7303722166  58406024132  593666045
3  20220622  799032181409  39381731122  7202903031  56795824636  533081862
4  20220621  796791144096  40973948034  7081932430  56654901493  546112960

         融资融券余额
0  863943557509
1  858607743392
2  857876160811
3  855828006045
4  853446045589

In [92]:
sse_df.shape

(130, 7)

In [93]:
sse_df.iloc[0][0]

'20220627'

In [94]:
szse_df = ak.stock_margin_szse(date=sse_df.iloc[0][0])
for i in range(1, sse_df.shape[0]):
    szse_df = pd.concat([szse_df, ak.stock_margin_szse(date=sse_df.iloc[i][0])])
print(szse_df)

     融资买入额     融资余额  融券卖出量   融券余量    融券余额   融资融券余额
0   492.42  6919.61   1.56  21.64  332.80  7252.42
0   409.73  6877.47   1.80  21.81  332.83  7210.30
0   387.38  6885.54   2.23  22.05  331.39  7216.93
0   342.71  6860.21   2.35  21.73  311.71  7171.92
0   371.00  6841.36   2.45  21.01  302.20  7143.57
..     ...      ...    ...    ...     ...      ...
0   430.62  8163.02   1.20  21.42  407.14  8570.17
0   414.53  8155.48   1.15  21.13  402.01  8557.50
0   414.50  8156.25   0.67  20.84  404.08  8560.34
0   477.05  8150.26   0.69  21.05  406.82  8557.09
0   412.73  8139.46   0.60  21.13  406.85  8546.31

[130 rows x 6 columns]

In [95]:
d1 = sse_df[["信用交易日期", "融资余额"]]
print(d1)

       信用交易日期          融资余额
0    20220627  804152526967
1    20220624  799101774063
2    20220623  799470136679
3    20220622  799032181409
4    20220621  796791144096
..        ...           ...
125  20211216  916542583380
126  20211215  917286307636
127  20211214  915338431382
128  20211213  913950078858
129  20211210  910033221248

[130 rows x 2 columns]

In [96]:
d1["融资余额"] = d1["融资余额"].map(lambda x: x / 1e8)
print(d1)

       信用交易日期         融资余额
0    20220627  8041.525270
1    20220624  7991.017741
2    20220623  7994.701367
3    20220622  7990.321814
4    20220621  7967.911441
..        ...          ...
125  20211216  9165.425834
126  20211215  9172.863076
127  20211214  9153.384314
128  20211213  9139.500789
129  20211210  9100.332212

[130 rows x 2 columns]

In [97]:
d2 = szse_df["融资余额"].reset_index(drop=True)
print(d2)

0      6919.61
1      6877.47
2      6885.54
3      6860.21
4      6841.36
        ...
125    8163.02
126    8155.48
127    8156.25
128    8150.26
129    8139.46
Name: 融资余额, Length: 130, dtype: float64

In [98]:
out = pd.concat([d1,d2],axis=1)

In [99]:
out.sort_index(ascending=False,inplace=True)

In [100]:
out

       信用交易日期         融资余额     融资余额
129  20211210  9100.332212  8139.46
128  20211213  9139.500789  8150.26
127  20211214  9153.384314  8156.25
126  20211215  9172.863076  8155.48
125  20211216  9165.425834  8163.02
..        ...          ...      ...
4    20220621  7967.911441  6841.36
3    20220622  7990.321814  6860.21
2    20220623  7994.701367  6885.54
1    20220624  7991.017741  6877.47
0    20220627  8041.525270  6919.61

[130 rows x 3 columns]

In [102]:
out.to_excel('融资余额20220628.xlsx')