In [1]:
import akshare as ak
stock_margin_sse_df = ak.stock_margin_sse(start_date="20210208", end_date="20210208")
print(stock_margin_sse_df)

     信用交易日期          融资余额        融资买入额        融券余量       融券余量金额      融券卖出量  \
0  20210208  796355371775  33386752258  7346080807  87718590706  148374362

         融资融券余额
0  884073962481

In [2]:
stock_margin_sse_df.head()

,信用交易日期,融资余额,融资买入额,融券余量,融券余量金额,融券卖出量,融资融券余额
0,20210208,796355371775,33386752258,7346080807,87718590706,148374362,884073962481

In [3]:
import numpy as np

In [4]:
import pandas as pd
index = pd.date_range('2020-1-10',periods=8)

In [6]:
import akshare as ak

stock_a_pe_and_pb_df = ak.stock_a_pe_and_pb(symbol="000300.SH")
print(stock_a_pe_and_pb_df)

            date  addTtmPe  middleAddTtmPe  addLyrPe  middleAddLyrPe  addPb  \
0     2005-04-08     14.98           20.65     15.68           21.17   2.01
1     2005-04-11     15.12           20.65     15.76           21.40   2.03
2     2005-04-12     14.75           20.30     15.21           20.85   1.99
3     2005-04-13     15.12           20.78     15.59           21.45   2.04
4     2005-04-14     14.99           20.56     15.42           21.14   2.02
...          ...       ...             ...       ...             ...    ...
4170  2022-06-07     10.90           20.00     11.14           20.84   1.32
4171  2022-06-08     11.01           20.06     11.25           20.92   1.33
4172  2022-06-09     10.94           19.77     11.18           20.55   1.33
4173  2022-06-10     11.09           20.36     11.33           20.75   1.35
4174  2022-06-13     10.96           20.10     11.20           20.68   1.33

      averageTtmPe  averageLyr  averagePb  middleAveragePb    close
0            30.39       33.19       2.12             1.92  1003.45
1            29.77       33.43       2.14             1.95   995.42
2            29.03       32.45       2.09             1.88   978.70
3            29.53       32.99       2.15             1.95  1000.90
4            28.95       32.23       2.11             1.93   986.98
...            ...         ...        ...              ...      ...
4170         31.58       30.71       4.02             2.53  4179.13
4171         31.84       30.92       4.06             2.56  4219.81
4172         31.24       30.34       3.98             2.52  4175.67
4173         31.82       30.86       4.04             2.55  4238.99
4174         31.60       30.60       4.02             2.55  4189.35

[4175 rows x 11 columns]

In [30]:
end = stock_a_pe_and_pb_df.iloc[4144]
print(end)

date               2022-04-26
addTtmPe                10.15
middleAddTtmPe          18.41
addLyrPe                 10.3
middleAddLyrPe          17.88
addPb                    1.26
averageTtmPe            29.28
averageLyr              28.52
averagePb                3.34
middleAveragePb          2.22
close                 3784.12
Name: 4144, dtype: object

In [27]:
start = stock_a_pe_and_pb_df.iloc[2928]

In [29]:
np.percentile(stock_a_pe_and_pb_df.iloc[2928:4144]["addTtmPe"],10)

11.03

In [31]:
4144-2928

1216

In [40]:
arr = stock_a_pe_and_pb_df.iloc[4174-1215:4175]

In [43]:
np.percentile(arr["addTtmPe"], 20)

11.47